#profilepic {
    border-radius: 50%;
}

.body {
    background-color: #F7F6DC;
}

.smallhr {
    border-style: dotted none none;
    border-width: 5px;
    width: 5%;
    height: 0px;
    border-color: goldenrod;
}

h1 ,h2, h3, h4 {
    color: #7FB77E;
}

h2, h3 {
    margin-bottom: 0;
    margin-left: 0.5em;
}

h3 {
    margin-top: 0;
    margin-left: 1em;
}

/* aside {
    float: right;
    width: 30%;
} */

.example {
    list-style: none;
}